<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Weather Report</title>
		<link rel="stylesheet" href="/forecast_weather/css/style.css" />
		<link rel="stylesheet" href="/forecast_weather/css/bootstrap.css" />
	</head>
	<body>
	    <div class="container text-white bg-info">
			<div class="row" th:each="obj : ${forecast}">				  
            	<div class="col-12">
            	<!-- <span th:if="${@environment.getProperty('campbell_lat_lon_value')}"></span> -->
            	               	
                	    <div th:each="dailyobj : ${obj.daily}">
                    	<div class="row">
                            <div class="col-12"><!-- <span th:text="${dailyobj.summary}"> -->
                            <span th:text="${obj.timezone}"></span></div>
                         </div>
                        <table class="table text-white">
                           		<tr>
                           		 <!-- <div  th:each="dailydataobj, iterState : ${dailyobj.data}" th:if="${iterState.index < 5}"> -->
                           		 <div  th:each="dailydataobj : ${dailyobj.data}">
                           		    <td>
                           		    <table class="table table-bordered text-white">
                           		       <tr><td><span th:text="${dailydataobj.summary}"> </span></td></tr>
                           		       <tr><td><span th:text="${dailydataobj.dewPoint}+' &#176;F'"></span></td></tr>                           		       
                           		         <span th:with="precipTypeObj= ${dailydataobj.precipType}">
                           		          <tr><td><img th:src="@{'/images/'+${precipTypeObj}+'.png'}" width="50" height="50"/></td></tr>
                           		          <tr><td><span th:text="${precipTypeObj}"></span></td></tr>
                           		         </span>
                           		       
                           		    </table>
                           		    </td>
                           		</div>
                           		</tr>
                           </table>                   		   	
                 				<!-- <span th:with="timeobj= ${dailydataobj.time}">  -->
                 				<!-- <span th:text="${new java.util.Date(timeobj)}"> </span>
                 				   <span th:text="'Label of Date: ' + ${#dates.format(dailydataobj.time, 'EEE')}">
                 				   </span>
                 				</span> -->
                      
                       </div>
                     </div>
                </div>  
		</div>
	</body>
</html>